{% load static %}
{% load active_link_tags %}
<!doctype html>
<html class="no-js" lang="en">
<header>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'Assets/navbar.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <title>CodeForces Chaser</title>
    <!--html comment-->

</header>
<body>
<section>
        <ul class="nav">
            <li class="nav_li"><a href="{% url 'home' %}" class="{% active_link 'home' 'active home_nav_ac_hov'%} nav_lia nav_hov">Home</a></li>

            {% if user.is_authenticated %}
                <li class="nav_li"><a href="{% url 'profile' %}"  class="{% active_link 'profile' 'active profile_nav_ac_hov'%} nav_lia nav_hov" style="{% active_link 'profile' 'color: black'%}">Profile</a></li>
                <li class="nav_li"><a href="{% url 'friendlist' %}" class="{% active_link 'friendlist' 'active friend_nav_ac_hov'%} nav_lia nav_hov">Friends</a></li>
                <li class="nav_li"><a href="{% url 'chasebycontest' %}"  class="{% active_link 'chasebycontest' 'active contest_nav_ac_hov'%} nav_lia nav_hov">Chase By Contest</a></li>
                <li style="float:right"  class="nav_li"><a href="{% url 'logout' %}" class="nav_lia nav_hov">Log Out</a></li>

            {% else %}
                <li style="float:right" style="color: white;"><a href="{% url 'login' %}" class="{% active_link 'login' 'active reg_nav_ac_hov'%} nav_lia nav_hov">Log In</a></li>
                <li style="float:right" style="color: white;"><a href="{% url 'registration' %}" class="{% active_link 'registration' 'active reg_nav_ac_hov'%} nav_lia nav_hov">Register</a></li>

            {% endif %}
        </ul>
        <br>
</section>

{% block content %}
{% endblock %}

</body>
</html>