{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'Assets/chase by contest.css' %}">

<section>
        <div>
            <div class="grid-container" style="font-weight: 700">
                <div>CodeForces Contest</div>
                <div style="text-align: center;"><b>Lagging</b></div>
                <div style="text-align: center;"><b>Advancing</b></div>
            </div>

            <div class="grid-container" id="info">
                <div><a href="{% url 'contestdetails' %}" target="_blank" style="text-decoration: none; color: black;">
                    Codeforces Round #713 (Div. 3)</a></div>
                <div style="text-align: center;">3</div>
                <div style="text-align: center;">1</div>
            </div>
        </div>
{#        <div style="text-align: right; margin-top: 2%;">#}
{#            <a href="#" class="previous hover" style="margin-right: 0%; text-decoration: none;">&laquo; Previous</a>#}
{#            <a href="#" class="next hover" style="margin-right: 20%; text-decoration: none;">Next &raquo;</a>#}
{#        </div>#}
</section>

{% endblock %}