{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'Assets/chase by contest.css' %}">

<section>
        <div>
            <div class="grid-container" style="font-weight: 700">
                <div>CodeForces Contest</div>
                <div style="text-align: center;"><b>Lagging</b></div>
                <div style="text-align: center;"><b>Advancing</b></div>
            </div>

            {% for contest in contests %}
                <div class="grid-container" id="info">
                    <div><a href="{% url 'contestdetails' contest.id %}" target="_blank" style="text-decoration: none; color: black;">
                        {{ contest.name }}</a></div>
                    <div style="text-align: center;">{{ contest.lagging }}</div>
                    <div style="text-align: center;">{{ contest.advancing }}</div>
                </div>
            {% endfor %}
        </div>
        <div style="text-align: right; margin-top: 2%;">
            <a {% if contests.has_previous %} href="?page={{ contests.previous_page_number }}" style="margin-right: 2%; text-decoration: none;" class="previous hover"
                {% else %} href="javascript:void(0)" style="margin-right: 2%;" class="button_unclickable" {% endif %}
               >&laquo; Previous</a>

            <a {% if contests.has_next %} href="?page={{ contests.next_page_number }}" style="margin-right: 20%;  text-decoration: none;" class="next hover"
                {% else %} href="javascript:void(0)" style="margin-right: 20%;" class="button_unclickable" {% endif %}
                >Next &raquo;</a>
        </div>
        <br> <br>
</section>

{% endblock %}