{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'Assets/contest details.css' %}">

<section>
        <div>
            <div class="grid-container">
                <div>CodeForces Handle</div><div>Solved Problem ID</div>
            </div>
            <div class="grid-container">
                <div>Youkn0wWho</div><div>A, B, C, E, F, G, H, I, K, L, M, N, O, P, Q, R</div>
            </div>
            <div class="grid-container">
                <div>fsshakkhor</div><div>A, B, C, E, F, G, H, I, K, L, M, N, O, P, Q, R</div>
            </div>
        </div>
</section>

{% endblock %}