{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'Assets/contest details.css' %}">

<section>
        <div>
            <div class="grid-container">
                <div><b>CodeForces Handle</b></div><div><b>Solved Problem ID</b></div>
            </div>
            <div class="grid-container" id="solves">
                <div>Youkn0wWho</div>
                <div>A, B, C, E, F, G, H, I, K, L, M, N, O, P, Q, R</div>
            </div>
            </div>
        </div>
</section>

{% endblock %}