{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'Assets/friends.css' %}">

<section >
    <form action="/action_page.php">
    <div class="input-group" style="text-align: center; padding: 20px; margin-left: 20%; margin-right: 20%;">
        <input type="text" class="form-control" placeholder="CodeForces Handle" style="height: 40px; text-align: center; ">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit" style="height: 40px;"><i class="fas fa-user-plus"></i></button>
            <button class="btn btn-default" type="submit" style="height: 40px;"><i class="fas fa-user-minus"></i></button>
        </div>
    </div>
    </form>
    <div>
        <div class="grid-container" style="font-weight: 700">
            <div>CodeForces Handle</div>
            <div style="text-align: center;">Current Rating</div>
            <div style="text-align: center;">Max Rating</div>
        </div>

        {% for friend in friends %}

            <div class="grid-container">
                <div style="font-weight: 550"><span style="color: rgb({{ friend.r1 }}, {{ friend.g1 }}, {{ friend.b1 }})">{{ friend.handle1 }}</span><span style="color: rgb({{ friend.r2 }}, {{ friend.g2 }}, {{ friend.b2 }})">{{ friend.handle2 }}</span></div>
                <div style="text-align: center; font-weight: 550; color: rgb({{ friend.crr }}, {{ friend.crg }}, {{ friend.crb }})">{{ friend.cur_rating }}</div>
                <div style="text-align: center; font-weight: 550;color: rgb({{ friend.mrr }}, {{ friend.mrg }}, {{ friend.mrb }})">{{ friend.max_rating }}</div>
            </div>

        {% endfor %}

    </div>
    <!-- previous next list change
    <div style="text-align: right; margin-top: 2%;">
        <a href="#" class="previous" style="margin-right: 0%; text-decoration: none;">&laquo; Previous</a>
        <a href="#" class="next" style="margin-right: 9.8%; text-decoration: none;">Next &raquo;</a>
    </div>
    -->
</section>

{% endblock %}
