{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'Assets/login.css' %}">

<section>
    <div style="background-color: lavender; width:70%; margin-left: auto; margin-right: auto;">

        <h1 style="text-align: center; background-color: lavender; color: rgb(29, 0, 158); font-weight: bold;font-family: Lucida Console, Courier New, monospace; padding: 50px;">Log In</h1>
        {% if error %}
            <div>
                <p style="text-align: center;">{{ error }}</p>
            </div>
        {% endif %}
        <form action="{% url 'login' %}", method="POST" >
            {% csrf_token %}

            <div class="form-outline" style="margin-left: auto; margin-right: auto; width:50%">
                <label class="form-label" for="email"><b>Email:</b></label><br>
                <input type="email" id="email" name="email"  class="form-control" required><br>

                <label class="form-label" for="password"><b>Password:</b></label><br>
                <input type="password" id="password" name="password"  class="form-control" required><br>

                <div style="text-align: center;"><input type="submit" value="Log In" class="btn btn-primary" style="text-align: center;"></div>
                <p style="padding: 50px;"> </p>
            </div>

        </form>
    </div>
</section>

{% endblock %}