{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'Assets/registration.css' %}">

<section>
    <div style="background-color: lavender; width:70%; margin-left: auto; margin-right: auto;">
        <h1 style="text-align: center; background-color: lavender; color: rgb(29, 0, 158); font-weight: bold;font-family: Lucida Console, Courier New, monospace; padding: 50px;">Register</h1>
        {% if error %}
            <p style="text-align: center; background-color: lavender; color: darkred; font-weight: bold;font-family: Lucida Console, Courier New, monospace; padding: 50px;"> <b><i>{{ error }}</i></b> </p>
        {% endif %}

        <form action="{% url 'registration' %}", method='POST'>
            {% csrf_token %}

            <div class="form-outline" style="margin-left: auto; margin-right: auto; width:50%">

                <label class="form-label" for="email">Email:</label><br>
                <input type="email" id="email"  class="form-control" name="email"><br>

                <label class="form-label" for="cfhandle">CodeForces Handle:</label><br>
                <input type="text" id="cfhandle"  class="form-control" name="cfhandle"><br>

                <label class="form-label" for="password">Password:</label><br>
                <input type="password" id="password" class="form-control" name="password"><br>

                <label class="form-label" for="confpassword"> Confirm Password:</label><br>
                <input type="password" id="confpassword" class="form-control" name="confpassword"><br>

                <div style="text-align: center;"><input type="submit" value="Register" class="btn btn-primary" style="text-align: center;"></div>
                <p style="padding: 50px;"> </p>
            </div>
        </form>
    </div>
</section>

{% endblock %}