 li a.nav_hov:hover:not(.active) {
            background-color: #111;
            text-decoration: none;
        }
        li a.nav_ac_hov:hover{
            background-color: #B41D22;
            text-decoration: none;
        }
        .active {
            background-color: #B41D22;
            text-decoration: none;
        }
        /*nav bar hovering style formats*/
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        width: 100%;
        text-decoration: none;
    }
    li {
        float: left;
    }
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #111;
        text-decoration: none;
    }
    li a:hover{
        background-color: #B41D22;
        text-decoration: none;
    }
    
    /*Printing list per row format*/
    .grid-container {
        display: grid;
        grid-template-columns: 60% 20% 20%;
        grid-gap: 0px;
        padding: 12px 8px 12px 10px;
        transition: 0.2s;
        margin-right: 15%;
        margin-left: 15%;
        background-image: linear-gradient(to top right, #E1E1E1, #FFFFFF, #E1E1E1);
    }
    .grid-container > div {
        text-align: left;
        font-size: 18px;
    }
    #info:hover{
            background-image: linear-gradient(to top, #E1E1E1, #B9B9B9, #E1E1E1);
        }

    /*Printing list per row format*/
    /*Previous next page button for the lists*/
    .previous {
        background-color: #E1E1E1;
        color: black;
        padding: 15px;
    }
    .previous:hover {
        background-color: #000000;
        color: white;
    }
    .next {
        background-color: #B9B9B9;
        color: black;
        padding: 15px;
    }
    .next:hover {
        background-color: #000000;
        color: white;
    }
    .button_unclickable {
        background-color: #D9D9D9;
        color: #B7B7B7;
        padding: 13px 15px;
        text-align: center;
        text-decoration: none;
        pointer-events: none;
        border: none;
    }
    /*Previous next page button for the lists*/