/*nav bar hovering style formats*/
        li a.nav_hov:hover:not(.active) {
            background-color: #111;
            text-decoration: none;
        }
        li a.nav_ac_hov:hover{
            background-color: #B41D22;
            text-decoration: none;
        }
        .active {
            background-color: #B41D22;
            text-decoration: none;
        }
        /*nav bar hovering style formats*/

ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        width: 100%;
        text-decoration: none;
    }
    li {
        float: left;
    }
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #111;
        text-decoration: none;
    }
    li a:hover{
        background-color: #B41D22;
        text-decoration: none;
    }
    /*Printing list per row format*/
    .grid-container {
        display: grid;
        grid-template-columns: 30% auto;
        grid-gap: 0px;
        padding: 12px 8px 12px 10px;
        transition: 0.2s;
        margin-right: 20%;
        margin-left: 20%;
        background-image: linear-gradient(to bottom right,#d6ddff, #f5aba6, #edffa8);
    }
    .grid-container > div {
        text-align: left;
        font-size: 18px;
    }
    div.grid-container:hover{
        background-image: linear-gradient(to bottom right, #fcc3c0, #f0fcc0);
    }
    /*Printing list per row format*/
    .previous {
        background-color: #f5a6a2;
        color: black;
        padding: 15px;
    }
    .previous:hover {
        color: #800600;
    }
    .next {
        background-color: #d95750;
        color: white;
        padding: 15px;
    }
    .next:hover {
        color: #800600;
    }