/*nav bar hovering style formats*/
        li a.frnd_nav_hov:hover:not(.active) {
            background-color: #111;
            text-decoration: none;
        }
        li a.nav_ac_hov:hover{
            background-color: #2089CA;
            text-decoration: none;
        }
        .active {
            background-color: #2089CA;
            text-decoration: none;
        }
        /*nav bar hovering style formats*/

    /* Style the list items */
    ul li.frnd {
        cursor: pointer;
        position: relative;
        padding: 12px 8px 12px 40px;
        list-style-type: none;
        background: #a8cadf;
        font-size: 18px;
        transition: 0.2s;
        margin-left: 10%;
        margin-right: 10%;
    }
    /* Set all odd list items to a different color (zebra-stripes) */
    ul li.frnd:nth-child(odd) {
        background: #9ec3da;
    }

    /* Darker background-color on hover */
    ul li.frnd:hover {
        background: #93bfd8;
    }
    .btn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
    }
    /*Printing list per row format*/
    .grid-container {
        display: grid;
        grid-template-columns: 50% 25% 25%;
        grid-gap: 0px;
        padding: 12px 8px 12px 10px;
        transition: 0.2s;
        margin-right: 20%;
        margin-left: 20%;
        background-image: linear-gradient(to top right, #E1E1E1, #FFFFFF, #E1E1E1);
    }
    .grid-container > div {
        text-align: left;
        font-size: 18px;
    }
    /*Printing list per row format*/
    /*Previous next page button for the lists*/
    .previous {
        background-color: #E1E1E1;
        color: black;
        padding: 15px;
    }
    .previous:hover {
        background-color: #000000;
        color: white;
    }
    .next {
        background-color: #B9B9B9;
        color: black;
        padding: 15px;
    }
    .next:hover {
        background-color: #000000;
        color: white;
    }
    /*Previous next page button for the lists*/