ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    text-decoration: none;
}
li.nav_li {
    float: left;
    color: white;
    text-decoration: none;
}
li a.nav_lia {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
        
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
    border: solid black;
    margin-top: 20px;
}

li a.nav_hov:hover:not(.active) {
    background-color: #111;
    text-decoration: none;
}

li a.firend_nav_ac_hov:hover{
    background-color: #2089ca;
    text-decoration: none;
}

li a.contest_nav_ac_hov:hover{
    background-color: #B41D22;
    text-decoration: none;
}

li a.profile_nav_ac_hov:hover{
    background-color: #F9CF56;
    text-decoration: none;
}

li a.reg_nav_ac_hov:hover{
    background-color: #91784e;
    text-decoration: none;
}

li a.home_nav_ac_hov:hover{
    background-color: green;
    text-decoration: none;
}

