 /*nav bar hovering style formats*/
        li a.nav_hov:hover:not(.active) {
            background-color: #111;
            text-decoration: none;
        }
        li a.nav_ac_hov:hover{
            background-color: #F9CF56;
            text-decoration: none;
        }

        /*nav bar hovering style formats*/
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        width: 100%;
        text-decoration: none;
    }
    li {
        float: left;
    }
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #111;
        text-decoration: none;
    }
    li a:hover{
        background-color: #F9CF56;
        text-decoration: none;
    }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
    /*border: solid black;*/
    margin-top: 20px;
    margin-bottom: 20px;
}
    /*Printing list per row format*/
    .grid-container {
        display: grid;
        grid-template-columns: 40% auto;
        grid-gap: 0px;
        padding: 12px 8px 12px 10px;
        transition: 0.2s;
        margin-right: 30%;
        margin-left: 30%;
        background-image: linear-gradient(to top right, #E1E1E1, #FFFFFF, #E1E1E1);
    }
    .grid-container > div {
        text-align: left;
        font-size: 18px;
    }
    /*Printing list per row format*/